.white-text {
    color: white;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}
h1 {
    color: red;
}

body {
    max-width: 1500px;
    margin: 0px 50px 0px 50px;
    background: black;
}

body > header {
    flex-basis: 1400px;
    margin-bottom: 90px;
}

.head {
    max-width: 1500px;
    max-height: 770px;
}

.nav {
    width: 100%;
    height: 75px;
}

body > header > nav > ul {
    height: 100%;
    margin-block-start:0;
    margin-block-end: 0;
    align-items: center;
}

.nav-list {
    list-style: none;
    justify-content: space-around;
    padding-inline-start: 0px;
}

.nav-link {
    color: white;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lato', sans-serif;
}

a:link {
    text-decoration: none;
    
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

main {
    
    justify-content: space-around;
}

.main-photo {
    flex-basis: 100%;
    max-height: 700px; 
}

.service-image {
    height: 350px;
    width: 350px;
    position: relative;
}

/* body > main > section > p {
    text-align: center;
} */

.relative {
    position: relative;
}

.image-title {

}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
   
}

.image-overlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: opacity 0.25s;
}

.image-btn {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
     
    
    

}

.image-btn:hover {
    transition: opacity 0.25s; 
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.foot {
    
}